.class3{
	font-size: 25px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.class4{
	font-size: 20px;
}
.class5{
	font-size: 12px;
}
.class6{
	font-size: 20px;
	color: #ffffff;
}
.class7{
	font-size: 12px;
}
